[Desktop Entry]
Type=Application
Name=Google Play Store
Exec=/usr/bin/anbox launch --action=android.intent.action.MAIN --package=com.android.vending --component=com.android.vending.AssetBrowserActivity 
Terminal=false
Categories=Anbox;
Icon=/home/neo64yt/.local/share/applications/anbox/anbox-com-android-vending.png
