[Desktop Entry]
Type=Application
Name=Aurora Droid
Exec=/usr/bin/anbox launch --action=android.intent.action.MAIN --package=com.aurora.adroid --component=com.aurora.adroid.ui.generic.activity.SplashActivity 
Terminal=false
Categories=Anbox;
Icon=/home/neo64yt/.local/share/applications/anbox/anbox-com-aurora-adroid.png
