[Desktop Entry]
Type=Application
Name=Clock
Exec=/usr/bin/anbox launch --action=android.intent.action.MAIN --package=com.android.deskclock --component=com.android.deskclock.DeskClock 
Terminal=false
Categories=Anbox;
Icon=/home/neo64yt/.local/share/applications/anbox/anbox-com-android-deskclock.png
