[Desktop Entry]
Type=Application
Name=Calendar
Exec=/usr/bin/anbox launch --action=android.intent.action.MAIN --package=com.android.calendar --component=com.android.calendar.AllInOneActivity 
Terminal=false
Categories=Anbox;
Icon=/home/neo64yt/.local/share/applications/anbox/anbox-com-android-calendar.png
