[Desktop Entry]
Type=Application
Name=Files
Exec=/usr/bin/anbox launch --action=android.intent.action.MAIN --package=com.android.documentsui --component=com.android.documentsui.LauncherActivity 
Terminal=false
Categories=Anbox;
Icon=/home/neo64yt/.local/share/applications/anbox/anbox-com-android-documentsui.png
