# Ignore some neovim-related files & folders
neovim/.local/share/nvim/site/autoload/plug.vim
neovim/.local/share/nvim/shada/main.shada
neovim/.config/coc/extensions/*

# Ignore compiled s6 databases
s6/.local/share/s6/rc/*

# Ignore hello binary
scripts/.local/bin/hello

# Ignore cache files from apps
zathura/.local/share/zathura/history

# Ignore mpv plugins/scripts
mpv/.config/mpv/scripts/*

# Ignore some desktop entries
resources/.local/share/applications/wine*.desktop
resources/.local/share/applications/waydroid*.desktop
resources/.local/share/applications/Waydroid.desktop

shell/.config/shell/zsh/.zdirs
