[
{
    "include": [ "~/.config/waybar/topbar.json", ],
    "modules-left": ["custom/quickmenu", ],
},

{
    "include": [ "~/.config/waybar/bottombar.json" ],
    "modules-left": [ "niri/workspaces" ],
    "niri/workspaces": {
        "format": "{icon}",
        "on-click": "activate",
        "sort-by-id": true,
        "active-only": true,
        "format-icons": {
            "home": "  󰋜  ", 
            "gaming": "  󰺶  ",
            "programming": "  󰆍  ",
            "web": "  󰆌  ",
            "media": "  󰐋  ",
            "work": "  󰠔  ",
            "overview": " 󰹫 "
         },
    }
}

]
