[
{
    "include": [ "~/.config/waybar/topbar.json", ],
    "modules-left": ["custom/quickmenu", ],
},

{
    "include": [ "~/.config/waybar/bottombar.json" ],
    "modules-left": [ "ext/workspaces" ],
    "ext/workspaces": {
        "format": "{icon}",
        "on-click": "activate",
        "sort-by-id": true,
        "active-only": false,
        "format-icons": {
            "1": "  󰋜  ", 
            "2": "  󰺶  ",
            "3": "  󰆍  ",
            "4": "  󰆌  ",
            "5": "  󰐋  ",
            "6": "  󰠔  ",
            "overview": " 󰹫 "
         },
        "ignore-hidden": true
    }
}

]
