[
{
    "include": [ "~/.config/waybar/topbar.json", ],
    "modules-left": ["custom/quickmenu", "river/tags"],
    "river/tags": {
         "num-tags": 6,
         "tag-labels": [ 
            "  󰋜  ", 
            "  󰺶  ",
            "  󰆍  ",
            "  󰆌  ",
            "  󰐋  ",
            "  󰠔  " 
         ],
     }
},

{
    "include": [ "~/.config/waybar/sidebar.json" ]
}

]
