* {
    border: none;
    border-radius: 0;
    font-family: 'Material Design Icons', 'JetBrains Mono';  
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0.85);
    color: #ffffff;
}

window#waybar.hidden {
    opacity: 0.0;
}

#custom-quickmenu, #idle_inhibitor {
    padding: 0 10px;
    margin: 3px;
}

#custom-sb-toggle {
    padding: 0 10px;
    margin: 3px;
}

#custom-quickmenu:hover, #custom-sb-toggle:hover, #idle_inhibitor:hover, #taskbar button:hover {
    background: #272a34;
    color: #12846e;
    border-radius: 10px;
}

#taskbar {
    padding: 3px 0;
    background: transparent;
}

#taskbar button {
    color: #cccccc;
    padding: 3px;
    margin: 1px;
}

#taskbar button.active {
    background: #272A34;
    color: #12846e;
    margin: 1px 0;
    border-radius: 10px;
    border: 1px solid #12846e;
}

#workspaces {
    padding: 7px 1px;
    margin: 0px;
    background: transparent;
}

#workspaces button {
    padding: 3px;
    background: #272a34;
    color: #ffffff;
    border-radius: 100px;
}

#workspaces button.active {
    background: #12846e;
    color: #272a34;
    padding: 3px 10px;
}

#workspaces button#niri-workspace-7, #workspaces button#niri-workspace-7 label {
    background: none;
    border: none;
    font-size: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#tags button {
    padding: 0 5px;
    background: transparent;
    color: #ffffff;
}

#tags button.occupied {
    border-bottom: 3px solid #ffffff;
}

#tags button.focused {
    background: #272a34;
    color: #12846e;
    border-bottom: 3px solid #12846e;
}

#tags button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid #ffffff;
}

#battery, #backlight, #network, #wireplumber, #custom-media, #cpu, #temperature, #memory, #mode {
    padding: 0 1px;
    margin: 0 5px;
}

#tray {
    padding: 0 1px;
    margin: 5px 0;
    border-right: 3px solid;
}

#clock {
    padding: 1px 10px;
    margin: 5px;
    color: #ffffff;
    border-radius: 15px;
}

#clock:hover {
    background: #12846E;
}

#battery {
    color: #0fbdd1;
}

#battery.charging {
    color: #2a9c5f;
}

@keyframes blink {
    to {
        border-color: #ffffff;
        color: #ffffff;
    }
}

#battery.critical:not(.charging) {
    color: #ed0c1f;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color: #ede20c;
}

#memory {
    color: #a718db;
}

#backlight {
    color: #85e21b;
}

#network {
    background: #2980b9;
}

#network.disconnected {
    background: #f53c3c;
}

#wireplumber {
    color: #1075e8;
}

#wireplumber.muted {
    color: #f53c3c;
}

#custom-media {
    background: #66cc99;
    color: #2a5c45;
}

.custom-spotify {
    background: #66cc99;
}

.custom-vlc {
    background: #ffa000;
}

#temperature {
    color: #f0932b;
}

#temperature.critical {
    color: #eb4d4b;
}

#tray {
    background-color: transparent;
    border: 0;
}

