[Desktop Entry]
Name=Game 1216669957799018608
Exec=/tmp/.mount_osu.ApK1BeOe/usr/bin/osu! %u
Type=Application
NoDisplay=true
Categories=Discord;Games;
MimeType=x-scheme-handler/discord-1216669957799018608