#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Element
Exec=/usr/bin/firefox --new-tab https://app.element.io
Icon=element-desktop
