#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=ProtonMail
Exec=/usr/bin/firefox --new-tab https://mail.protonmail.com
Icon=protonmail-desktop
