[Desktop Entry]
Type=Application
Icon=ventoy
Name=Ventoy
Exec=/opt/ventoy/VentoyGUI.x86_64
Terminal=false
Hidden=false
Categories=Utility
Comment=Ventoy2Disk GUI
