#!/bin/sh

# Set environment variables and execute autostart programs
[ -f ~/.zshenv ] && . ~/.zshenv
eval $(ssh-agent)
[ -z "$DBUS_SESSION_BUS_ADDRESS" ] && eval $(dbus-launch --sh-syntax --exit-with-session)
sh $AUTOSTART & 



# vim: ft=sh
