[Desktop Entry]
Type=Application
Name=LXRandR autostart
Comment=Start xrandr with settings done in LXRandR
Exec=sh -c 'xrandr --output eDP1 --mode 2256x1504'
OnlyShowIn=LXDE
